

.saudável {
    background-color: rgb(0, 67, 7);
}
.contundente {
    background-color: rgb(127, 165, 1);
}
.letal {
    background-color: rgb(102, 15, 0);    
}
.agravado {
    background-color: black;
}